@import url(nav.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Patrick Hand', cursive;
}

.barraazul {
    background-color: #1C2840;
    width: 100%;
    height: 10px;
    margin: 30px 0;
}

.banner01 {
    width: 100%;
    background-color: #1C2840;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: 16px;
}

.banner01 img {
    width: 200px;
    height: auto;
}

summary {
    all: unset;
    padding: 16px;
    color: aliceblue;
    background: rgba(16 28 34);
    width: 90px;
    cursor: pointer;
}

details {
    background-color: rgba(12 12 14);
    color: aliceblue;
}

section ul {
    padding-bottom: 16px;
    font-size: 16px;
    margin: 0 10px;
}

section li+li {
    margin-top: 0.5rem;
}

.tituloanivers {
    background-color: #FCF4AC;
    width: 100%;
    height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Inicio parte de casamentos */
.container-casamento {
    padding: 64px;
}

/* Clear floats */
.row:after {
    content: "";
    display: table;
    clear: both
}

/* 2/3 column */
.column1 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}

/* 1/3 column */
.column2 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}

.column2 img {
    width: 335px;
    height: 300px;
}

.titulocasamento {
    color: #1C2840;
}

span {
    font-size: 25px;
}

.container-casamento p {
    font-size: 16px;
}

button {
    background-color: #1C2840;
    text-align: center;
    font-size: 18px;
    color: #fefeff;
    width: 150px;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5%;
}

/* Inicio galeria de imagens */
div.gallery img {
    width: 100%;
    height: auto;
}

.responsive {
    padding: 20px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }

    .column2 img {
        width: 100%;
        height: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width: 760px) {
    .banner01 img {
        width: 50%;
        margin: 10px;
    }

    .content {
        width: 100%;
    }

    .cont-1 {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .cont-1 img {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 1000px) {
    .content {
        width: 30%;
    }

    .column1,
    .column2 {
        width: 100%;
        text-align: center;
    }
}