@import url(nav.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Patrick Hand', cursive;
}

.barraazul {
    background-color: #1C2840;
    width: 100%;
    height: 10px;
    margin: 30px 0;
}

.banner01 {
    width: 100%;
    background-color: #1C2840;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: 16px;
}

.banner01 img {
    width: 200px;
    height: auto;
}

summary {
    all: unset;
    padding: 16px;
    color: aliceblue;
    background: rgba(16 28 34);
    width: 90px;
    cursor: pointer;
}

details {
    background-color: rgba(12 12 14);
    color: aliceblue;
}

section ul {
    padding-bottom: 16px;
    font-size: 16px;
    margin: 0 10px;
}

section li+li {
    margin-top: 0.5rem;
}

.tituloservicos, .tituloanivers {
    background-color: #FCF4AC;
    width: 100%;
    height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudocasamento {
    height: 450px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    position: relative;
    margin-bottom: 38px;
}

.cont-1 img {
    width: 100%;
    height: 100%;
}

.cont-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #f2f2f2;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content img {
    width: 70%;
    height: auto;
    position: sticky;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.content p {
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}

button {
    text-align: center;
    font-size: 18px;
    color: #fefeff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
}

.reservar {
    background: #1C2840;
}

/* inicio galeria de imagens */
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  .responsive {
    padding: 20px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


@media (max-width: 760px) {
    .banner01 img {
        width: 50%;
        margin: 10px;
    }

    .content {
        width: 100%;
    }

    .cont-1 {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .cont-1 img {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 1000px) {
    .content {
        width: 30%;
    }
}
